Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
Note: All the steps required during scraping should be done through code only and not manually.

## import required liabraries

In [4]:
import selenium
from selenium import webdriver
import pandas as pd 
import numpy as np
import warnings 
warnings.filterwarnings('ignore')

## Connection to the webdriver

In [5]:
driver=webdriver.Chrome("D:\Internship Problems\selenium\chromedriver_win32\chromedriver.exe")

## connection to the url

In [6]:
url='https://www.ambitionbox.com/'
driver.get(url)

In [9]:
# clicking on salaries tab using xpath
salary_tab=driver.find_element_by_xpath('/html/body/div[1]/nav/nav/a[4]')
salary_tab

In [10]:
# clicking on the salary tab
salary_tab.click()

In [27]:
# find job element search id using xpath
search_job_tab=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input')
search_job_tab

In [28]:
# writing in search tab
search_job_tab.send_keys("Data scientist")

In [33]:
# clicking on search tab using xpath
search_tab=driver.find_element_by_xpath('/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div')
search_tab

In [49]:
# scrapping company name using xpath
company_name=driver.find_elements_by_xpath('//div[@class="name"]')
company_name

[<selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="9b837170-fc63-46bc-b899-f1298de6ffc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="edd0b0fa-e749-43d9-b0bd-c016747c5e3a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="3c9284ab-e83d-49e9-86aa-c91b03e00fdc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="1099aee5-4825-4442-83c5-425127243278")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="f2e02cec-cfc2-43f2-9412-42fa6ef85d10")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="d1597efa-29af-41a7-bb8f-bf2b42aeaadd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="8bf0b720-ceda-4338-a25b-eca9199d3818")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="80b93fa2-dd35-46c7-ab49-8bad2f714e34")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="932e56fe-8389-4266-b8b9-b176d9d9d9ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="4a18d248-7d01-4dfe-a115-c18b5431a8a6")>]

In [58]:
# scrapping all company names
company=[]          # empty list to store
for i in company_name:
    company.append(i.text.replace('\n',(" ")))
company

['Walmart based on 10 salaries',
 'Ab Inbev based on 22 salaries',
 'ZS based on 14 salaries',
 'Fractal Analytics based on 72 salaries',
 'Optum based on 23 salaries',
 'UnitedHealth based on 49 salaries',
 'Tiger Analytics based on 27 salaries',
 'Verizon based on 14 salaries',
 'Ganit Business Solutions based on 13 salaries',
 'Ericsson based on 42 salaries']

In [83]:
# scrapping experience using xpath
exp=driver.find_elements_by_xpath('//div[@class="salaries sbold-list-header"]')
exp

[<selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="e5e50556-c8f1-4f12-8864-22cad8e35d94")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="01ca8527-ae6b-4755-ba18-f39c7a6279e2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="7d24a2ba-13f5-4b69-94f0-ed5cf8b7f7e7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="df01cf3d-8b0d-4584-9516-66bafaec7d2a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="f84445b7-04fc-48ab-b7aa-abcbd8139830")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="50be770c-fe37-4cba-ba95-f5f16e07d5ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="b1056e90-61f1-4fe0-bc2e-fec39e587fff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="b6e175a6-b10f-441b-ae1d-d981e99893d0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="384c3a2e-2915-41b8-8d3f-737e39600bee")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="4a5d279f-cc98-45cd-b9f4-7d4d9d32403d")>]

In [89]:
# scrapp all data
exp_=[]
for i in exp:
    exp_.append(i.text.replace('\n . \n',(" ")))
exp_

['Data Scientist 3 yrs exp',
 'Data Scientist 3-4 yrs exp',
 'Data Scientist 2 yrs exp',
 'Data Scientist 2-4 yrs exp',
 'Data Scientist 3-4 yrs exp',
 'Data Scientist 2-4 yrs exp',
 'Data Scientist 3-4 yrs exp',
 'Data Scientist 4 yrs exp',
 'Data Scientist 4 yrs exp',
 'Data Scientist 3-4 yrs exp']

In [67]:
low_salary=driver.find_elements_by_xpath('//div[@class="value body-medium"]')
low_salary

[<selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="2840ab88-7ac4-4a2e-b74a-34500c65b4db")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="fe4ef79d-7c2e-404e-87b1-36d7c83ec041")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="917e364a-4bde-4bf6-a71c-77d661fd1148")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="4fe4556f-c9d4-48b8-ba0c-6567379d3bea")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="1008d282-c1c1-48e5-b52d-6d1769e48772")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="56ad2c86-ca7a-4b9a-9800-13de03d5a9ad")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="134a0ad4-166d-4902-8987-3485ebe9464a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="2e199a85-1477-4567-906b-803fd3f6df52")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="b1a28d6b-f484-49de-8785-11fbe7699321")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="4c370e96-4c98-4709-a011-bdde1b884157")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="c5e45153-016a-4ca1-979f-252401b4f948")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="31e56b21-aa1d-42b0-9c1f-3065c9a7b0ef")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="0441b096-0f28-4ffd-bbbf-b28b648eee02")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="0c87e1c0-d217-4925-b0b2-9c39fc94b681")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="e20ba7d4-9acf-406a-aafe-b3f1543ca0f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="50f1a73e-ddaa-44d1-9c6c-9dcef8efecfe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="41504c8b-4507-41ef-b9eb-a664cf645153")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="cd490347-2628-49f3-af9d-7f06f9350cae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="6db6718a-3c08-4f6c-89e0-e61ba10e270b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="da4f6caa-631f-4e80-9f89-d391f627ab26")>]

In [72]:
salary1=[]
for i in low_salary:
    salary1.append(i.text)
salary2=salary1[::2]
salary2

['₹ 17.7L',
 '₹ 15.0L',
 '₹ 9.8L',
 '₹ 9.5L',
 '₹ 11.0L',
 '₹ 7.2L',
 '₹ 8.3L',
 '₹ 10.0L',
 '₹ 8.5L',
 '₹ 5.8L']

In [73]:
# scrapping highest salary
salary3=salary1[1::2]
salary3

['₹ 35.0L',
 '₹ 25.0L',
 '₹ 20.0L',
 '₹ 22.0L',
 '₹ 21.3L',
 '₹ 20.5L',
 '₹ 18.5L',
 '₹ 21.0L',
 '₹ 15.0L',
 '₹ 21.5L']

In [80]:
# scrapping average salary
avg_salary=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
avg_salary

[<selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="7b633434-9bac-44d3-9658-500fc372fced")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="655f98fe-4b9f-449e-bd95-0399f7d4159b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="f25a7ffd-b347-429d-b5b4-034645ed7e36")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="0980a107-cec2-4d23-9653-b3ccc2c0fb7d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="f027e085-0c60-44a8-b75a-7415bc95beb5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="b852d8c8-24d4-4fd7-afc2-2acfa6260cfb")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="cd299ecb-9204-4a2d-abf7-8ef9fedd63d6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="ae815a2b-af42-428a-999e-90e90878ae3c")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="7706a18b-5653-4403-b24a-cf2020a06e27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="aae45ea8165c61a2bfbcd8d564c23d4c", element="3ab0e663-2ddf-40a0-9fcb-f36d9c9b3e38")>]

In [82]:
avg_salar=[]
for i in avg_salary:
    avg_salar.append(i.text)
avg_salar

['₹ 28.7L',
 '₹ 19.5L',
 '₹ 15.8L',
 '₹ 15.0L',
 '₹ 15.0L',
 '₹ 13.5L',
 '₹ 13.5L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L']

In [90]:
# create dataframe
df=pd.DataFrame({"Company Name No of salaries":company,"Post__Exp":exp_,"Lowest salary":salary2,"Highest salary":salary3,"Average salary":avg_salar})
df

,Company Name No of salaries,Post__Exp,Lowest salary,Highest salary,Average salary
0,Walmart based on 10 salaries,Data Scientist 3 yrs exp,₹ 17.7L,₹ 35.0L,₹ 28.7L
1,Ab Inbev based on 22 salaries,Data Scientist 3-4 yrs exp,₹ 15.0L,₹ 25.0L,₹ 19.5L
2,ZS based on 14 salaries,Data Scientist 2 yrs exp,₹ 9.8L,₹ 20.0L,₹ 15.8L
3,Fractal Analytics based on 72 salaries,Data Scientist 2-4 yrs exp,₹ 9.5L,₹ 22.0L,₹ 15.0L
4,Optum based on 23 salaries,Data Scientist 3-4 yrs exp,₹ 11.0L,₹ 21.3L,₹ 15.0L
5,UnitedHealth based on 49 salaries,Data Scientist 2-4 yrs exp,₹ 7.2L,₹ 20.5L,₹ 13.5L
6,Tiger Analytics based on 27 salaries,Data Scientist 3-4 yrs exp,₹ 8.3L,₹ 18.5L,₹ 13.5L
7,Verizon based on 14 salaries,Data Scientist 4 yrs exp,₹ 10.0L,₹ 21.0L,₹ 12.7L
8,Ganit Business Solutions based on 13 salaries,Data Scientist 4 yrs exp,₹ 8.5L,₹ 15.0L,₹ 12.4L
9,Ericsson based on 42 salaries,Data Scientist 3-4 yrs exp,₹ 5.8L,₹ 21.5L,₹ 11.9L