Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
        You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

## import necessary liabraries

In [1]:
import selenium
from selenium import webdriver
import numpy as np
import pandas as pd 
import warnings
warnings.filterwarnings ('ignore')

## Connection to the webdriver

In [14]:
driver=webdriver.Chrome("D:\Internship Problems\selenium\chromedriver_win32\chromedriver.exe")

## Connection to url

In [15]:
url='https://www.naukri.com/'
driver.get(url)

In [16]:
# find element using xpath for search job id
search_job=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')

In [17]:
# write in search job field
search_job.send_keys("Data Scientist")

In [18]:
# find elemnt for location field using xpath
location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [19]:
# writing in location field
location.send_keys('Delhi/NCR')

In [22]:
# clicking on search button
search=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [23]:
# clicking on button
search.click()

In [24]:
# check salary check filter
salry_check_filter=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[2]/label/i')

In [25]:
# click on salary check filter
salry_check_filter.click()

In [26]:
#scrapping the job title by xpath
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [29]:
titles=[]
for i in job_title:
    titles.append(i.text)
titles=titles[:10]

In [42]:
# scrapping for location using xpath
location_name=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]')

In [44]:
locations=[]
for i in location_name:
    locations.append(i.text)
#locations=locations[2::3]
locations=locations[:10]

In [45]:
# company by xpath
company_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [47]:
company=[]
for i in company_name:
    company.append(i.text)
company=company[:10]

In [51]:
# scrap experience required
experience=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]')

In [53]:
experience_=[]
for i in experience:
    experience_.append(i.text)
experience_=experience_[:10]

In [54]:
## create Dataframe
data=pd.DataFrame({"Job Title":titles,"Company Name":company,'Experience Required':experience_,"Location":locations})
data

,Job Title,Company Name,Experience Required,Location
0,Data Scientist | Python | Machine Learning | D...,Schlesinger Group,0-3 Yrs,"Noida, Gurgaon/Gurugram, Delhi / NCR"
1,Job Opportunity || Data Scientist || HCL Techn...,HCL,2-6 Yrs,Delhi / NCR
2,Senior Data Scientist I,Delhivery,3-7 Yrs,Gurgaon/Gurugram
3,Openings For Jr/mid/Sr level data Scientists,Pluto seven business solutions (p) limited,2-6 Yrs,"Kolkata, Hyderabad/Secunderabad, Pune, Ahmedab..."
4,Data Scientist,T & A Solutions,2-6 Yrs,Gurgaon/Gurugram
5,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
6,Urgent Hiring For Data Scientist,Mount Talent Consulting Private Limited,1-6 Yrs,"Gurgaon/Gurugram, Bangalore/Bengaluru"
7,Data Scientist role,Mount Talent Consulting Private Limited,1-4 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
8,Data Scientist role,Mount Talent Consulting Private Limited,1-3 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."
9,Data Scientist role,Mount Talent Consulting Private Limited,1-3 Yrs,"Noida, Hyderabad/Secunderabad, Pune, Gurgaon/G..."